{% extends "base/base.html" %}

{% block body %}
	<h1>Edit Hash</h1>
	<p class="right">
		<img src="https://chart.googleapis.com/chart?chs=200x200&chld=H&cht=qr&chl=http://{{auth_session.namespace}}.{{site_config.subdomain}}r/{{hash.hash}}&choe=UTF-8" alt="{{hash.desc|e}}">
	</p>
	<p>
		Hash Tag: {{auth_session.namespace}}.{{site_config.subdomain}}r/<b>{{hash.hash}}</b>
	</p>
	
	<P>
		Description: {{hash.desc|e}}
	</p>
	<P>
		Default Link: {{hash.default}}
	</p>
	<div class="clearer">
		
	</div>
{% endblock %}