{% extends "base/base.html" %}

{% block body %}
	<h1>Edit Hash</h1>
	<p class="right">
		<img src="https://chart.googleapis.com/chart?chs=200x200&chld=H&cht=qr&chl=http://{{auth_session.namespace}}.{{site_config.subdomain}}r/{{hash.hash}}&choe=UTF-8" alt="{{hash.desc|e}}">
	</p>
	<p>
		URL: {{auth_session.namespace}}.{{site_config.subdomain}}r/<b>{{hash.hash}}</b>
	</p>
	<p>
		Hits: {{hash.hits}}
	</p>
	<P>
		Description: {{hash.desc|e}}
	</p>
	<h2>Redirection Links</h2>
	{% for l in locations  %}
		<p>
			
		</p>
	{% endfor %}


	<P>
		Default Link: {{hash.default}}
	</p>
	<div class="clearer">
		
	</div>
{% endblock %}