<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
	  <meta charset="utf-8">

	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if section %}
        	{{section}} - 
        {% endif %}{{site_config.title}}</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/screen.css">
		
    </head>
    <body>
        <div class="yui-d1">
            <div class="top">
                <h1>{{site_config.title}}</h1>
                <div class="user-status">
                    <p>{% if current_user or auth_session -%}
                        {% if current_user -%}
                            Signed in as <span class="user_email">{{ current_user.username|e }}</span> |
                        {%- endif %} <a href="{{ logout_url }}">Sign out</a>
                    {% else %}
                        Hi, there. <a href="{{ login_url }}">Sign in</a>
                    {% endif %}</p>
                </div>
            </div>
        </div>
        <div class="yui-d1">
            <div class="yui-t2">
                <div class="yui-main">
                    <div class="yui-b">
                        <div class="content">
                        {% block body %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="yui-b">
                    <ul class="menu">
                        <li{% if section == 'home' %} class="active"{% endif %}><a href="{{ url_for('home') }}">Home</a></li>
						{% if current_user %}
                        	<li{% if section == 'manage' %} class="active"{% endif %}><a href="{{ url_for('manage/home') }}">Manage</a></li>
	                        <li{% if section == 'statistics' %} class="active"{% endif %}><a href="{{ url_for('statistics/home') }}">Statistics</a></li>
						{% endif %}
                    </ul>
                </div>
            </div>
        </div>
	  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	  <script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.5.1.js"%3E%3C/script%3E'))</script>

        {%- block body_extra %}
            <script src="/static/scripts/scripts.js"></script>
			<script src="/static/scripts/custom.js?id=111"></script>
        {% endblock %}
		{% if auth_session.namespace %}
			<br>
				<center>Namespace: {{auth_session.namespace|e}}</center>
		{% endif %}
    </body>
</html>
